body {
    font-family: 'Hahmlet', serif;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
  }
  
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

.warm-day{
    background-color: yellow;
}
.warm-night{
    background-color: rgb(134, 79, 7);
}
.cold-day{
    background-color: rgb(161, 217, 255);
}
.cold-night{
    background-color: rgb(23, 63, 116);
}


.navbar{
    margin: 10px;
    font-size: 1.4em;
}
.navbar label{
    margin-right: 10px; 
}
.navbar a{
    margin-right: 10px;
}
.search input{
    margin-right: 10px;
}