body {
  font-family: 'Tahoma';
  color: rgb(41, 41, 41);
  background-color: rgb(223, 221, 215);
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  background-image: url('bg/bgwarmday.jpg');
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
}

.app{
  height: 100%;
}
.app.night{
  color: rgb(255, 255, 255);
}

.navbar{
  margin: 10px;
  margin-top: 0;
  font-size: 1.4rem;
}
.navbar label{
  margin-right: 10px; 
  font-weight: bold;
}
.search input{
  margin-right: 10px;
}

.allWeatherBox{
  display: flex;
  justify-content: center;
}

.currWeatherBox{
  margin: 2rem;
}
.location{
  font-size: 2.5rem;
  margin-bottom: 20px;
}
.currTemp{
  font-size: 4rem;
  margin-bottom: 20px;
}
.weekForecastBox{
  margin: 2rem 2rem;
  font-size: 0.75rem;
}
.weekForecastBox ul{
  list-style-type: none;
}
.weekForecastItem label{
  font-weight: bold;
  font-size: 1rem;
}


@media screen and (max-width: 768px) {
  .allWeatherBox{
    display: block;
  }
}