body {
  font-family: 'Tahoma';
  color: rgb(255, 255, 255);
  text-shadow: 2px 2px rgba(27, 27, 27, 0.5);
  background-color: rgb(223, 221, 215);
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  background-image: url('bghome.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

.app{
  height: 100%;
}

.search{
  margin: 2rem;
}
.searchArea{
  width: 200px;
}
.search input{
  border: none;
  outline: none;
  padding: 5px;
  margin-right: 10px;
  height: 25px;
  border-radius: 0.5rem;
}

.allWeatherBox{
  display: flex;
  justify-content: center;
}

.currWeatherBox{
  margin: 2rem;
}
.currWeatherBox label{
  font-size: 1.3rem;
}
.description{
  font-size: 2.5rem;
  margin: 30px 0px;
}
.location{
  font-size: 2.5rem;
  margin: 40px 0px;
}
.currTemp{
  font-size: 4rem;
  margin: auto;
  width: 130px;
  padding: 25px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.3);
}
.weekForecastBox{
  margin: 2rem 2rem;
  padding: 1rem;
  border-radius: 1rem;
  font-size: 0.75rem;
}
.weekForecastBox ul{
  list-style-type: none;
}
.weekForecastItem label{
  font-weight: bold;
  font-size: 1rem;
}

.bottom{
  margin-top: 150px;
  margin-bottom: 50px;
}


@media screen and (max-width: 768px) {
  .allWeatherBox{
    display: block;
  }
}